# dev tooling


# python
__pycache__
*.pyc

# virtual environment
venv
.venv

# tooling
.idea/
.vscode/
*.log
*.cfg
*.sh

# tests
junit/
.coverage
coverage.xml
htmlcov/

# docs
docs/_apidoc/
docs/_build/

# qt stuff
*_rc.py
.qt_for_python/

# project
*~
*.bak
*.qgs
*.qgz
*.zip
