# dev tooling


# python
__pycache__
*.pyc

# virtual environment
venv
.venv

# tooling
.idea/
.vscode/
*.log

# tests
junit/
.coverage
coverage.xml

# docs
htmlcov/

# qt stuff
*_rc.py

# project
*~
*.bak
*.qgs
*.qgz
*.zip
